.compass-container {
  position: fixed; /* Kompas zawsze przyklejony do prawego górnego rogu */
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10; /* Kompas zawsze na wierzchu */
}

.compass-icon {
  width: 100px; /* Ustawienie stałego rozmiaru kompasu */
  height: 100px;
  transition: transform 0.1s ease-in-out;
}

.north-arrow {
  position: absolute;
  top: 45px;
  width: 15px; /* Rozmiar strzałki północnej */
  height: 15px;
  background-color: red;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 15;
}

.azimuth-value {
  font-size: 18px;
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}
