/* Kompas jako nakładka, która zawsze pozostaje w jednym miejscu */
.compass-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.compass-icon {
  width: 100px;
  height: 100px;
  position: relative;
}

/* Kontener na strzałkę, który obraca się zgodnie z azymutem */
.compass-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Strzałka wskazująca północ */
.north-arrow {
  width: 10px;
  height: 50px;
  background-color: red;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform-origin: bottom; /* Punkt obrotu u dołu strzałki */
  position: absolute;
}
