/* App.css */
* {
  box-sizing: border-box;
}

.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.compass-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.compass-icon {
  width: 80px; /* Mniejszy rozmiar kompasu */
  height: 80px; /* Mniejszy rozmiar kompasu */
  transition: transform 0.1s ease-in-out; /* Płynny efekt obracania */
}

.azimuth-value {
  font-size: 18px; /* Zmniejszenie rozmiaru wartości azymutu */
  margin-top: 5px; /* Mniejszy odstęp między kompasem a wartością azymutu */
  font-weight: bold;
  color: #333;
}

.background {
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Wypełnia tło, zachowując proporcje */
}

.zoom-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); /* Wyśrodkowanie przycisków */
  display: flex;
  gap: 10px;
  z-index: 10; /* Przyciski na wierzchu */
}

.zoom-controls button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.zoom-controls button:hover {
  background-color: #555;
}
